<div class="lee-container-full">
	<div class="lee-header">
		<a class="button-left" href="#/list">
			<i class="fa fa-chevron-left"></i>
		</a>
		按 钮
	</div>
	<div class="lee-box" box="mid">
		<div class="lee-row">
			<h3 class="lee-title-bor">按钮样式</h3>
			<div class="lee-content">
				<button class="lee-btn">无样式</button>
				<button class="lee-btn-default">主样式</button>
				<button class="lee-btn-warm">警告样式</button>
			</div>
		</div>
		<div class="lee-row">
			<h3 class="lee-title-bor">按钮大小</h3>
			<div class="lee-content">
				<button class="lee-btn-default lee-btn-lg">大号按钮</button>
				<button class="lee-btn-default lee-btn-md">中按钮</button>
				<button class="lee-btn-default lee-btn-sm">小号按钮</button>
			</div>
		</div>
		<div class="lee-row">
			<h3 class="lee-title-bor">带图标的按钮</h3>
			<div class="lee-content">
				<button class="lee-btn-default lee-btn-lg"><i class="fa fa-music"></i> 音乐</button>
				<button class="lee-btn-warm lee-btn-md"><i class="fa fa-heart"></i> 喜欢</button>
				<button class="lee-btn lee-btn-sm"><i class="fa fa-search"></i> 搜索</button>
			</div>
		</div>
		<div class="lee-row">
			<h3 class="lee-title-bor">宽屏的按钮</h3>
			<div class="lee-content">
				<button class="lee-btn-default lee-btn-md lee-btn-block">登 录</button>
			</div>
		</div>
	</div>
</div>