<div class="lee-container-full">
	<div class="lee-header">
		<a class="button-left" href="#/">
			<i class="fa fa-chevron-left"></i>
		</a>
		演示目录
	</div>
	<div class="lee-box lee-box-bg" box="mid">
		<div class="lee-row">  
			<h3 class="lee-title">列表组</h3>
			 <div class="lee-list">
			 	<a class="lee-list-item" href="#/list-full-width">无边距列表 
			 	<i class="fa fa-chevron-right icon-right"></i></a>
			 	<a class="lee-list-item" href="#/list-with-title">带标题的列表
			 	<i class="fa fa-chevron-right icon-right"></i></a>
			 	<a class="lee-list-item" href="#/list-box">盒子列表
			 	<i class="fa fa-chevron-right icon-right"></i></a>	
			 	<a class="lee-list-item" href="#/list-with-icons">带icons的列表
			 	<i class="fa fa-chevron-right icon-right"></i></a>
			 </div>
			 <h3 class="lee-title">表单和按钮</h3>
			 <div class="lee-list">
			 	<a class="lee-list-item" href="#/buttons">按钮
			 	<i class="fa fa-chevron-right icon-right"></i></a>
			 	<a class="lee-list-item" href="#/input">输入组件
			 	<i class="fa fa-chevron-right icon-right"></i></a>		
			 	<a class="lee-list-item" href="#/form">表单
			 	<i class="fa fa-chevron-right icon-right"></i></a>	 
			 </div>
		</div>	 
	</div>
</div>