@charset "UTF-8";
/**
 * list style
 * @authors leedow (644743991@qq.com)
 * @website http://www.leedow.com
 * @date    2015-03-08 19:22:19
 * @version $Id$
 */
.lee-list{
	text-align: left;
}

.lee-list-item{
	clear: both;
	display: block;
	border-bottom: 1px @base-line-color solid;
	padding: @base-padding-v @base-padding-h;
}

.lee-list-item:hover{
	background: @base-light-color;//lighten(@base-light-color, 10%);
}


