<div class="lee-container-full">
	<div class="lee-header">
		<a class="button-left" href="#/list">
			<i class="fa fa-chevron-left"></i>
		</a>
		表 单
	</div>
	<div class="lee-box" box="mid">
		<div class="lee-row">
			
			<div class="lee-form-item"> 
				<div class="lee-icon-input">
					<span class="input-icon">
						<i class="fa fa-user"></i>
					</span>
					<input type="text" class="icon-input" placeholder="请输入账号">
				</div>
			</div> 
			<div class="lee-form-item"> 
				<div class="lee-icon-input">
					<span class="input-icon">
						<i class="fa fa-key"></i>
					</span>
					<input type="password" class="icon-input" placeholder="请输入密码">
				</div>
			</div> 
			<div class="lee-form-item"> 
				<button class="lee-btn-default lee-btn-md lee-btn-block">登 录</button>
			</div>
		</div>	

			 
		 	 
	</div>
</div>