<div class="lee-container-full">
	<div class="lee-header">
		<a class="button-left" href="#/list">
			<i class="fa fa-chevron-left"></i>
		</a>
		输入
	</div>
	<div class="lee-box" box="mid">
		<div class="lee-row">
			<h3 class="lee-title-bor">输入框</h3>
			<div class="lee-content">
				<input type="text" class="lee-input" placeholder="请输入">
			</div>
		</div>	
		<div class="lee-row">
			<h3 class="lee-title-bor">宽屏输入框</h3>
			<div class="lee-content">
				<input type="text" class="lee-input-block" placeholder="请输入">
			</div>
		</div>
		<div class="lee-row">
			<h3 class="lee-title-bor">下拉菜单</h3>
			<div class="lee-content">
				<select class="lee-input-block">
					<option>1</option>
					<option>2</option>
				</select>
			</div>
		</div>
		<div class="lee-row">
			<h3 class="lee-title-bor">带图标的输入框</h3>
			<div class="lee-content">
				<div class="lee-icon-input">
					<span class="input-icon">
						<i class="fa fa-user"></i>
					</span>
					<input type="text" class="icon-input" placeholder="请输入账号">
				</div>
			</div>
		</div>		 
	</div>
</div>