<div class="lee-container-full">
	<div class="lee-header">
		<a class="button-left" href="#/list">
			<i class="fa fa-chevron-left"></i>
		</a>
		盒子列表
	</div>
	<div class="lee-box lee-box-bg" box="mid">
		<div class="lee-row">  
			<h3 class="lee-title">标题1</h3>
			 <div class="lee-list lee-list-box">
			 	<a class="lee-list-item" href="">选项1</a>
			 	<a class="lee-list-item" href="">选项2</a>
			 	
			 </div>
			 <h3 class="lee-title">标题2</h3>
			 <div class="lee-list lee-list-box">
			 	<a class="lee-list-item" href="">选项1</a>
			 	<a class="lee-list-item" href="">选项2</a>
			 	
			 </div>
		</div>	 
	</div>
</div>